div{
    border: 2px solid gray
}

div ul{
    border: inherit; 
}

li a{
    color: #99e918;
}

li > p{
    color: red;
}

h1 + h4{
    color: #800080;
}

a[href = '/teste']{
    color: #ffa500;
}

li:nth-of-type(odd){
    color: #00ffff
}